/* 
;============================================
; Title: Assignment 1.3
; Author: Danial Purselley
; Date: 29 May 2022
; Modified By: Danial Purselley
; Description: The is the styling sheet
; for the index landing page for the course.
;=========================================== 
 */

* {
  font-family: "Oswald", Verdana, Arial, sans-serif;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

/* anchor styling for theme */
a {
  text-decoration: none;
  color: var(--anchor-color);
}

a:hover {
  color: var(--anchor-hover-color);
  background-color: var(--anchor-hover-background-color);
}
/* end anchor styles */

/* headings styles */
h1 {
  color: var(--heading-color);
  background-color: var(--h1-background-color);
  padding: 10px;
  border: 1px solid var(--h1-border-color);
}

h2,
h3,
h4 {
  color: var(--heading-color);
  background-color: var(--heading-background-color);
  padding: 10px;
  border: 1px solid var(--heading-border-color);
}

/* table styling corrections */
table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

/* table cells sizing and color corrections*/
th {
  text-align: left;
  background-color: var(--table-header-background-color);
  color: white;
}

td,
th {
  border: 1px solid #ddd;
  padding: 12px 10px 12px 10px;
}

tr:hover {
  background-color: var(--table-hover-background-color);
  color: var(--table-hover-color);
  cursor: pointer;
}
/* end of table styling */

/* page card stylings */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  text-align: center;
  font-size: 2em;
  color: #4f3674;
  font-weight: 400;
}

.card-content {
  padding: 2px 16px;
} /* end card styles */

/* CTA button stylings */
.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  color: black;
}

.btn-primary {
  background-color: var(--btn-background-color);
  color: white;
}

.btn-primary:hover {
  background-color: #d6a800;
  color: #4f3674;
} /* end button styling */

/* style for user input box */
.input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* style for user drop down selection */
.drop-down-menu {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* change card title colors for theme */
.card-title {
  color: var(--card-title-color);
}

/* style the return button */
.return-home {
  color: var(--anchor-color);
  text-decoration: none;
}

.return-home:hover {
  color: var();
  background-color: var(--anchor-hover-background-color);
}
/* end return styles */

/* style variables for light theme */
body.light-theme {
  --text-color: #000;
  --background-color: #fff;
  --anchor-color: #4f3674;
  --anchor-hover-color: #4f3674;
  --anchor-hover-background-color: #d6a800;
  --h1-background-color: #3c275a;
  --h1-border-color: #d6a800;
  --heading-background-color: #3c275a;
  --heading-color: #fff;
  --heading-border-color: #d6a800;
  --card-background-color: #fff;
  --card-title-color: #4f3674;
  --btn-background-color: #4f3674;
  --btn-color: #fff;
  --btn-hover-background-color: #d6a800;
  --btn-hover-color: #4f3674;
  --input-border-color: #ccc;
  --table-header-background-color: #4f3674;
  --table-header-color: #fff;
  --table-border-color: #ddd;
  --table-hover-background-color: #d6a800;
  --table-hover-color: #4f3674;
}

/* style variables for dark theme */
body.dark-theme {
  --text-color: #fafafa;
  --background-color: #303030;
  --anchor-color: #fff;
  --h1-background-color: #9c27b0;
  --h1-border-color: #9c27b0;
  --heading-background-color: #424242;
  --heading-color: #fff;
  --heading-border-color: #424242;
  --anchor-hover-color: #d176e1;
  --anchor-hover-background-color: #303030;
  --card-background-color: #424242;
  --card-title-color: #d176e1;
  --btn-background-color: #d176e1;
  --btn-color: #fff;
  --btn-hover-background-color: #7d4787;
  --btn-hover-color: #fff;
  --input-border-color: #303030;
  --table-header-background-color: #d176e1;
  --table-header-color: #fff;
  --table-border-color: #303030;
  --table-hover-background-color: #7d4787;
  --table-hover-color: #fff;
}
