.danger {
  float: right;
  color: #df546a;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 0 2rem 0 2rem;
}

.label {
  width: 50px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
